body {
    margin: 0;
}

/*********** HEADER ************/

header {
    text-align: center;
    margin: 0;
    padding: 5px;
    background: linear-gradient(to bottom right, #f5a1ba, #c4a2cc);
}

header h1 {
    margin: 0;
    font-size: 4em;
    font-family: 'Pacifico', cursive;
    color: white;
}

header h2 {
    margin: 0;
    font-size: 2em;
    font-family: 'Sacramento', cursive;
    color: white;
}

nav {
    margin: 0;
    padding: 15px 15px;
    text-align: center;
    background-color: #eeeeee;
    font-family: 'Cabin', sans-serif;
}

nav a {
    color: teal;
    font-family: 'Cabin', sans-serif;
    font-size: .8em;
    text-decoration: none;
}

a h3 {
    color: teal;
}

h3 {
    text-align: center;
    font-size: 1.4em;
    font-family: 'Cabin', sans-serif;
    color: #787878;
}

ol {
  text-decoration: none;
}

p {
    font-family: 'Cabin', sans-serif;
    color: black;
    font-size: .9em;
}

.container_banner {
    text-align: center;
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container_banner img{
    width: 100%;
}

.container_main {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.container_main img {
    text-align: center;
    width: 300px;
    height: 300px;
}

.col {
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    width: 250px;
    display: inline-block;
    padding-bottom: 20px;
    text-decoration: none;
}

.col img {
    text-align: center;
    width:200px;
    height:200px;
}

.row {
    clear:both;
    text-align: center;
}

.row2 {
}

.col2 {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 300px;
    display: inline-block;
    padding-bottom: 80px;
    text-decoration: none;
    float: top;
}

.col2 img {
    width: 300px;
    height: 300px;
}

.col3  {
    text-align: right;
    margin-left: 5%;
    margin-right: 5%;
    width: 300px;
    display: inline-block;
    text-decoration: none;
    float: top;
}

.col3 img {
    width: 350px;
    height: 350px;
}

.divTable {
    text-align: center;
    /*display: table;  */
    width:auto;
    /*background-color:#eee;  */
    /*border:1px solid  teal; */
    border-spacing:10px;/*cellspacing:poor IE support for  this*/
    /*border-collapse:separate; */
    }

.divRow  {
    display:table-row;

    }

.divCell  {
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:15%;
    /* background-color:#ccc; */
    }


.row a {
    color: teal;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
}

.row p {
    color: gray;
    text-align: middle;
    font-family: 'Cabin', sans-serif;
}

.row img {
    margin-left: 8%;
    margin-right: 8%;
}

.about {
    text-align: left;
    padding: 25px;
    float: right;
    margin: 2%;
    width: 53%;
}

.about p {
    text-align: left;
}

.about h3 {
    text-align: left;
    color: teal;
}

.about img {
    float: left;
    width: 30%;
    padding: 20px
}

#selectedItem {
  width: 850px;
  height: 90px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

#selectedItem img {
  width: 90px;
  height: 90px;
}

#cart {
  width: 850px;
  height: 90px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.quantity {
  padding-top: 20px;
  margin-right: 40px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

#selectedCol {
  width: 10%;
  height: 100px;
  float: left;
}

.buttons {
    text-align: center;
    padding: 10px;
    background-color: teal;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: .8em;
    border-radius: 10px;
    text-decoration: none;
}

.inputDetail {
    padding: 10px;
    width: 300px;
}

.input {
    padding: 10px;
    width: 90px;
    border: 1px solid #cccccc;
}

#quantityField {
    border: 1px solid #cccccc;
}

#quantity {
    text-align: center;
    width: 60px;
}


footer {
    clear: both;
    color: BLACK;
    font-size: .8em;
    font-family: 'Cabin', sans-serif;
    padding: 40px;
    margin-bottom: 15px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    font-family: 'Cabin', sans-serif;
    text-align: center;
}


